

$font-stack: ('Open Sans', 'Arial', sans-serif);

/* Background Color of the header */
$header-bgcolor-top   : #1DC6F5;
$header-bgcolor-bottom: #1DC6F5;

/* Background Color of the Navigation */
$nav-bgcolor-top   : #00C2F7;
$nav-bgcolor-bottom: #00C2F7;
