/**
 * Default Styles for the Berlioz Application.
 */
@import "settings";
@import "base";
@import "layout";
@import "components";

// back link
h2 + a.back {float: right; margin-top: -2.25rem;}

// search results
#search-results {
  .results .result {
    list-style-type: none; float: left; width: 200px; height: 220px; text-align: center;
    .details {
      text-align: left; width: 200px; padding: 0 10px; font-size: 14px; margin: 0; display: none;
      background: #88E3FC; min-height: 220px; position: absolute;
      box-shadow: 0 0 5px 3px rgba(0,0,0,.2); border: 2px solid rgba(0,0,0,.1); border-radius: 4px;
      label  {display: inline-block; margin: 4px; }
      .title {font-weight: bold;}
    }
    &:hover .details {display: block;}
  }
}

// autosuggest
li.suggestion {
  img {float: left; margin: 6px; max-height: 66px;} 
}

// facets
.facets {
  .select {
    #choice {width: 800px;}
    ul li {
      list-style-type: none; float: left;
      input { margin: 0.5rem 0 0.5rem 0.5rem;}
    }
    button {float: right; clear: both;}
  }
  .facet-values {
    .values {
      list-style-type: none;
      li {
        font-size: 85%;
        &.selected a {
          font-weight: bold;
          &::before {content: '\2714'; margin-left: -15px; position: absolute;}
        }
      }
    }
  }
}

/* XML content */
.xml {
  font-size: 11px; color: #666;
  .e {color: #a0b;}
  .a {color: #16f;}
  .v {color: #281;}
  .t {color: black;}
}